/* body { */
/*     background-image: url("/Luna-s-kryilyami.png"); */
/*     background-repeat: no-repeat; */
/*     background-attachment: fixed; */
/*     background-position: center;  */
/* } */
img{
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
