<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>WebTechnologies</servlet-name>
		<servlet-class>webtechnologies.WebTechnologiesServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>WebTechnologies</servlet-name>
		<url-pattern>/webtechnologies</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>JavaTask2</servlet-name>
		<servlet-class>webtechnologies.JavaTask2</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>JavaTask2</servlet-name>
		<url-pattern>/javatask2</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>JavaTask3</servlet-name>
		<servlet-class>webtechnologies.JavaTask3</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>JavaTask3</servlet-name>
		<url-pattern>/javatask3</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>FormException</servlet-name>
		<servlet-class>webtechnologies.FormException</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FormException</servlet-name>
		<url-pattern>/formexception</url-pattern>
	</servlet-mapping>
</web-app>
